{% extends 'layout.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<h2>選手一覧</h2>
<div class="content">
    <div class="team_img">
        {% if object.team_id == 1 %}
        <img src="{% static 'players/img/logo_g_m.gif' %}" alt='ジャイアンツ' width='150'>
        <h3 class="giants">{{ object.team_nm }}</h3>
        {% elif object.team_id == 2 %}
        <img src="{% static 'players/img/logo_db_m.gif' %}" alt='ベイスターズ' width='150'>
        <h3 class="baystars">{{ object.team_nm }}</h3>
        {% elif object.team_id == 3 %}
        <img src="{% static 'players/img/logo_t_m.gif' %}" alt='タイガース' width='150'>
        <h3 class="tigers">{{ object.team_nm }}</h3>
        {% elif object.team_id == 4 %}
        <img src="{% static 'players/img/logo_c_m.gif' %}" alt='カープ' width='150'>
        <h3 class="carp">{{ object.team_nm }}</h3>
        {% elif object.team_id == 5 %}
        <img src="{% static 'players/img/logo_d_m.gif' %}" alt='ドラゴンズ' width='150'>
        <h3 class="dragons">{{ object.team_nm }}</h3>
        {% elif object.team_id == 6 %}
        <img src="{% static 'players/img/logo_s_m.gif' %}" alt='スワローズ' width='150'>
        <h3 class="swallows">{{ object.team_nm }}</h3>
        {% elif object.team_id == 7 %}
        <img src="{% static 'players/img/logo_l_m.gif' %}" alt='ライオンズ' width='150'>
        <h3 class="lions">{{ object.team_nm }}</h3>
        {% elif object.team_id == 8 %}
        <img src="{% static 'players/img/logo_h_m.gif' %}" alt='ホークス' width='150'>
        <h3 class="hawks">{{ object.team_nm }}</h3>
        {% elif object.team_id == 9 %}
        <img src="{% static 'players/img/logo_e_m.gif' %}" alt='イーグルス' width='150'>
        <h3 class="eagles">{{ object.team_nm }}</h3>
        {% elif object.team_id == 10 %}
        <img src="{% static 'players/img/logo_m_m.gif' %}" alt='マリーンズ' width='150'>
        <h3 class="marines">{{ object.team_nm }}</h3>
        {% elif object.team_id == 11 %}
        <img src="{% static 'players/img/logo_f_m.gif' %}" alt='ファイターズ' width='150'>
        <h3 class="fighters">{{ object.team_nm }}</h3>
        {% elif object.team_id == 12 %}
        <img src="{% static 'players/img/logo_b_m.gif' %}" alt='バファローズ' width='150'>
        <h3 class="buffaloes">{{ object.team_nm }}</h3>
        {% endif %}
    </div>
    
        <ul class="team_info"> 
            <li>{{ object.stadium }}</li>
            <li>{{ object.address }}</li>
            <li><a href="{{ object.address_url }}">Googleマップへ</a></li>
        </ul>
       
       
    <div class="team_player_img">
        <p class="position">投手</p>
        {% for item in more_context %}
            {% if　item.position == '投手' %}
                <div class="player_img"><img src="/players/static/players/img/{{ item.img }}" width=200>
                    <p>{{ item.number }}</p>
                    <a href="{% url 'profile' item.pk %}" class="btn">{{ item.player_nm }}<br>{{ item.player_kana }}</a>
                </div>
            {% endif %}
        {% endfor %}
    
                
        <p class="position">捕手</p>
        {% for item in more_context %}
            {% if　item.position == '捕手' %}
                <div class="player_img"><img src="/players/static/players/img/{{ item.img }}" width=200>
                    <p>{{ item.number }}</p>
                    <a href="{% url 'profile' item.pk %}" class="btn">{{ item.player_nm }}<br>{{ item.player_kana }}</a>
                </div>
            {% endif %}
        {% endfor %}
        
        <p class="position">内野手</p>
        {% for item in more_context %}
            {% if　item.position == '内野手' %}
                <div class="player_img"><img src="/players/static/players/img/{{ item.img }}" width=200>
                    <p>{{ item.number }}</p>
                    <a href="{% url 'profile' item.pk %}" class="btn">{{ item.player_nm }}<br>{{ item.player_kana }}</a>
                </div>
            {% endif %}
        {% endfor %}
        

        <p class="position">外野手</p>
        {% for item in more_context %}
            {% if　item.position == '外野手' %}
                <div class="player_img"><img src="/players/static/players/img/{{ item.img }}" width=200>
                    <p>{{ item.number }}</p>
                    <a href="{% url 'profile' item.pk %}" class="btn">{{ item.player_nm }}<br>{{ item.player_kana }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}


